@using Microsoft.AspNetCore.Identity
@using ITO_TicketManagementSystem.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav ms-auto">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item d-flex align-items-center me-2 text-muted small">
        <i class="bi bi-person-circle me-1"></i> Hello, @UserManager.GetUserName(User)!
    </li>
    <li class="nav-item">
        <a id="manage" class="btn btn-outline-primary me-2"
           asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
            My Account
        </a>
    </li>
    <li class="nav-item">
        <form id="logoutForm" class="d-inline"
              asp-area="Identity" asp-page="/Account/Logout"
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="btn btn-primary">
                Log out
            </button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a id="login" class="btn btn-outline-primary me-2"
           asp-area="Identity" asp-page="/Account/Login">Log in</a>
    </li>
    <li class="nav-item">
        <a id="register" class="btn btn-primary"
           asp-area="Identity" asp-page="/Account/Register">Sign up</a>
    </li>
}
</ul>
